<!--
    Portfolio part
-->
<div id="Portfolio" class="timeline" >
    <div class="left">
        <div class="timeline-column">
            <div ng-repeat="tlUnit in tlColumnLeft"
                 ng-animate="'tlunit-fadein'" 
                 ng-include="'partials/tl_unit.html'"></div>
        </div>
    </div>
    <div class="timeline-axis">
    </div>
    <div class="right">
        <div class="timeline-column">
            <div ng-repeat="tlUnit in tlColumnRight"
                 ng-animate="'tlunit-fadein'" 
                 ng-include="'partials/tl_unit.html'"></div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>