<!--
    Posts part
-->
<div id="Blog" class="timeline">
    <div class="left">
        <h5>Categories</h5>
        <ul class="categories">
            <li ng-repeat="category in categories">
                <a href="">{{category.title}}({{category.postCount}})</a>
            </li>
        </ul>
        <h5>Archives</h5>
        <ul class="dates">
            <li ng-repeat="year in dates">
                <a href="">{{year.year}}</a>
                <ul>
                    <li ng-repeat="month in year.months">
                        <a href="">{{month.month}}({{month.count}})</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="timeline-axis">
    </div>
    <div class="right">
        <div class="timeline-column">
            <div ng-repeat="tlUnit in posts"
                ng-animate="'tlunit-fadein'" 
                ng-include="'partials/tl_unit.html'"></div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>