<!--
    Timeline unit part
-->
<div class="timeline-unit">
    <div class="tlunit-header">
        <h5 class="tlunit-title">{{ tlUnit.title }}</h5>

        <div class="tlunit-date">
            {{tlUnit.date}}
        </div>

        <!-- Links to the timeline -->
        <div class="tlunit-link">
            <div class="tlunit-pin pin-left"></div>
            <div class="tlunit-line"></div>
            <div class="tlunit-pin pin-right"></div>
        </div>

    </div>
    <div class="tlunit-body">
        <div class="tlunit-excerpt" ng-bind-html-unsafe="tlUnit.excerpt">
        </div>
    </div>
    <div class="tlunit-footer">
        <div class="tlunit-shadow"></div>
        <a class="tlunit-viewmore" href="#/post/{{tlUnit.id}}">View More</a>
    </div>
</div>