li{
    list-style: none;
}
#BackgroundCanvas{
    position: fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;

    z-index: -1;
}

body{
    text-align: center;
}

#App {
    width:1024px;
    margin:0px auto;
    text-align: left;
}

#Header{
    margin-top: 20px;
    
    .navigation {
        background-color: #2b2938;
        height:30px;
        border-radius: 5px;
        padding: 8px 0px;

        ul {
            margin:0px;
            line-height: 30px;
        }
        li {
            float:left;
            color:#959ab4;
            font-weight: bold;
            padding:0px 10px;
            border-right: 2px solid #31333e;
        }
    }
}
#Timeline{
    .left{
        float: left;
        width: 50%;
    }
    .right{
        float: left;
        width: 50%;
    }

    .timeline_unit{
        border-radius:10px;
        background-color: white;
        margin:30px;
    }

    .tlunit_title{
        padding:10px;
        color:#555555;
        margin:5px;
        font-weight: bold;
    }

    .tlunit_description{
        color:#B8B8B8;
        font-size: 14px;
        padding:0px 20px 20px 20px;
        line-height: 18px;
        margin-top: 0px;
        box-sizing:border-box;
    }

    .tlunit_footer{

    }
}